#tamanho{
    width:8cm;
    height: 1.5cm;
    font-size:20px;
    margin:0.5cm;
    text-align: center;
    
}
#tamanhoDois{
    width:8cm;
    height: 8cm;
    font-size:20px;
    margin:0.5cm;
    text-align: center;
    
}
